html, body {
  font-family: 'Nanum Myeongjo', serif;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-weight: lighter;
  font-size: 3em;
  margin-top: 1em;
  margin-left: 1em;
}

nav {
  margin-top: 5em;
}

nav > ul {
  list-style: none;
  padding-left: 3em;
}

nav li {
  font-size:1.5em;
  margin: 2em 0;
}

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  position:relative;
}

a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom:0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transition: all .75s ease-in-out 0s;
}

a:hover {
  color: rgba(0, 0, 0, 1);
}

a:hover:before {
  visibility: visible;
  width: 100%;
}

.left-column {
  float: left;
  position: fixed;
}

.right-column {
  left: 30%;
  padding-left: 2em;
  position: relative;
}

.about {
  padding-top: 10em;
}

#about + p {
  line-height: 2em;
  width: 40%;
}

.projects {
  margin-top: 20em;
}

.projects img {
  border: 1px solid black;
  float: left;
  margin-right: 2em;
  width: 20em;
}

.projects > div {
  clear: left;
  overflow: hidden;
  margin-top:2em;
}

.projects p {
  width: 60%;
}

.contact {
  margin-top: 20em;
  margin-bottom: 20em;
}

.contact ul {
  list-style: none;
}

.contact li {
  font-size: 1.5em;
  margin-top: 1em;
}
